<!DOCTYPE html>
<html>
    <head>
        <style>   
            div {
                font-size: 16px;
            }
            h1 {
                color: blue;
                font-family: "Monaco";
                text-align: center;
            }
            form {
                font-family: "Monaco";
                text-align: center;
            }
        </style>
        <title>grizz.ly</title>
    </head>
    <body>
        <div>
            <h1>grizz.ly</h1>
            <form action="shortened" method="POST">
                Enter your URL here:<br><br>
                <input type="text" name="url" placeholder="your url here!" size="100">
                <input type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>
