<!DOCTYPE html>
<html>
    <head>
        <style>
            div {
                font-family: "Monaco";
                font-size: 16px;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div>
            {% if url %}
                <a href={{url}}>Click me!</a>
                <p>This link has been followed {{count}} times.</p>
            {% else %}
                <p>URL not found. Sorry :(</p>
            {% endif %}
        </div>
    </body>
</html>
